#content {
    position: absolute;
    left: 180px;
    right: 0;
    top: 50px;
    bottom: 0;
    padding-left: 20px;
    background-color: #f4f5f8;
}
.Funtion{
    display: none;
}

.page-title{
    display: flex;
    justify-content: space-between;
    align-items : center;
    height : 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 30px;
}
.page-title .page-left{
  
    font-weight : 700;
    font-size: 24px;
}
.listEmployee {
    background-color: #ffffff;
    margin-right: 30px;
}
.icon-add{
    width :15px;
    height:15px;
    padding-left: 16px;
    padding-right: 8px;
    background-image: url("../assets/icon/add.png");
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;

}
#text-btn-add{
    padding-left: 16px;

}
.toolbar{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    
}
.input-search{
        width:240px ;
        background-image: url("../assets/icon/search.png");
        background-position-y: center;
        background-position-x: 220px;
        background-size: 16px;
        background-repeat: no-repeat;
        padding-left: 10px;
        color: #000000;
        margin-right: 12px;
        height: 32px;
        box-sizing: border-box;
}

.btn-refresh {
    background-color:  initial;
    width: 21px;
    height:23px;
    background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -425px -201px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-right: 12px;
}
.exportFileExcel{
    background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -705px -202px;
    width: 23px;
	height: 20px;
}
#GroupByDepartment{
    margin-left:20px ;
    padding-right:12px ;
    width: 170px;
}
#GroupByService{
    width: 170px;
    margin-left: 20px;
    padding-right: 12px;
}
table{
    border-collapse:collapse;
    min-width: 100%;
    
    text-align-last:left;
}
    table tr {
        height: 48px;
        border-bottom : 1px solid #c7c7c7;
        cursor:pointer;
    }
th{
    
    background-color:#eceef1 !important;
    font-weight:900;
    color:#000000;
    position: sticky;
    top: 0;
    z-index: 2;
    border-right: 1px solid #c7c7c7 !important;
    border-bottom: 1px solid #c7c7c7;
}
th, td{
    padding-left: 5px;
    border-right : 1px dotted #c7c7c7;

}
    th:first-child, th:last-child, td:first-child, td:last-child {
        
    }
.inputCheckbox{
    width: 18px;
    margin-left: 10px;
}
.grid{
    margin-top: 10px;
    height: 70vh;
    overflow-y: scroll;
    padding-left: 16px;
    padding-right: 10px;
}
.employeeInputCheckbox{
    min-width: 40px;
    padding-left: 5px !important;
    
}
.employeeCode{
    min-width: 150px;
}
.employeeFullName{
    min-width: 250px;
}
.employeeGender{
    min-width: 120px;
}
.employeePosition{
    min-width: 250px;
}
.employeeDepartment{
    min-width: 250px;
}
.employeeBankAccount{
    min-width: 250px;
}
.employeeEmail{
    min-width: 250px;
}
.employeePhoneNumber{
    min-width: 200px;
}
.employeeDOB{
    min-width: 200px;
}
.funtion{
    position: relative;
}

.colum-fixed{
    min-width: 120px;
    position:sticky;
    border-right: none !important;
    right: -10px;
    border-left: 1px dotted #c7c7c7 !important;
    z-index: 2;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 48px !important;
    padding: 0 ;
}
.uiFuntion{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:  1px dotted #c7c7c7;
}
.Employee{
    margin-left:8px ;
    border: none;
    background-color:#ffffff ;
    color: #0075c0;
    font-weight: 600;
}
.listFunc{
    background-image: url("../assets/img/listfunc.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-left: 0px;

}
.footer {
    align-items: center;
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right:10px;
}
.totalRecord{
    color: #000000;
    font-weight: 700;
}