input{
    height : 32px;
    width : 150px;
    padding-left: 16px;
    color : #000000;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    outline: 0;
    padding-right:8px;
    font-family: GoogleSans-Regular;

}
    input:focus{
        border: 1px solid #2ca01c !important;
    } 
    .input-search:hover {
        border-color: #019160;
    }