.notification{
   display: none;
}
.notify-content{
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    width: 500px;
    height: 200px;

}
.notify-Mes{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
.closeDialogImg{
    width: 40px;
    height: 40px;
    background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -832px -462px;
    margin-right: 20px;
}
.Mess{
    font-size: 14px;
    font-weight: normal;
}
.notify-button{
    padding-top: 30px;
    margin-top: 20px;
    display: flex;
    border-top: 1px solid #bbbbbb ;
    justify-content: space-between;
}
.Cancel_noti{
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}
.Accept_noti{
    padding-left: 25px;
    padding-right: 25px;
}
.Deny_noti{
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    left: 140px;
}