.notification{
    display: none;
}
.notify-content{
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    width: 500px;
    height: 200px;

}
.notify-Mes{
    display: flex;
    align-items: center;
}
.img-noti{
    width: 45px;
    height: 40px;
    background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -598px -463px;
    margin-right: 30px;
}
.Mess{
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.notify-button{
    padding-top: 30px;
    margin-top: 20px;
    display: flex;
    border-top: 1px solid #bbbbbb ;
    justify-content: space-between;
}
.Cancel_noti{
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}
.Accept_noti{
    padding-left: 25px;
    padding-right: 25px;
}